spring:
  profile:
    active:
    - test
    - prod

---

spring:
  profiles: test



logging:
  file:
    name: TacoCloud.log


taco:
  orders:
    pageSize: 10

---
spring:
  profiles: prod


logging:
  file:
    name: TacoCloudProd.log
---
spring:
  datasource:
    generate-unique-name: false
    name: tacocloud

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true

  h2:
    console:
      enabled: true
      path: /h2-console

  data:
    rest:
      base-path: /data-api

  jmx:
    enabled: true



